/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

a {
  text-decoration: none;
}

.container {
  margin: 0 15%;
}


/* HEADER */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 60px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav li {
  padding: 0 10px;
}

header a {
  color: black;
}

/* MAIN */

main {
  background-color: black;
}

h1 {
  color: white;
}

main a {
  color: white;
}

.blue-strip {
  background-color: #0282f9;
  padding: 20px 0;
}

.blue-strip .container {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.blue-strip img {
  width: 60px;
  height: 60px;
}

.blue-strip a {
  display: flex;
  align-items: center;
}

.blue-strip span {
  padding: 0 10px;
}

/* card */

.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 25px;
}

.prod-card {
  flex-basis: 14%;
  padding: 0 10px;
  color: white;
  font-size: 11px;
}

.prod-card img {
  width: 120px;
  height: 120px;
}

/* FOOTER */

footer {
  background-image: url("/img/footer-bg.jpg");
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer a {
  color: #959595;
}

.footer-column ul {
  list-style: none;
  color: white;
  padding-left: 0;
  margin-left: 0;
  margin-right: 15px;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.side-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.side-right {
  width: 50%;
  background-image: url("/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-bottom {
  background-color: #303030;
  padding: 20px 0;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-links span {
  color: #0282f9;
  font-weight: bold;
}

button {
  border: 1px solid #0282f9;
  padding: 0.6em 1.2em;
  color: white;
  background-color: inherit;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}